[Desktop Entry]
Type=Application
Exec=/usr/bin/caffeine-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Caffeine-indicator 
Name=Caffeine-indicator 
Comment[en_US]=system tray indicator
Comment=ststem tray indicator
